{include file="public/header"}

<div class="main-wrapper oh">

    <!-- Revolution Slider -->
    <section>
        <div class="rev_slider_wrapper">
            <div class="rev_slider" id="slider1" data-version="5.0">
                <ul>
                    <!-- SLIDE 1 -->
                    <li	data-transition="parallaxhorizontal"
                           data-slotamount="1"
                           data-masterspeed="2000"
                           data-delay="9000"
                           data-title="Creative Minimalism">

                        <!-- MAIN IMAGE -->
                        <img src="/static/img/revolution/slide_1.jpg"
                             alt=""
                             data-bgrepeat="no-repeat"
                             data-bgfit="cover"
                             data-bgposition="center center"
                             data-duration="30000"
                             data-bgparallax="7"
                             data-kenburns="on"
                             data-scaleend="100"
                             data-scalestart="140"
                             class="rev-slidebg"
                        >

                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption hero-text uppercase"
                             data-x="center"
                             data-y="center"
                             data-voffset="['-100', '-90', '-80', '-60']"
                             data-fontsize="['106', '106', '96', '50']"
                             data-lineheight="['106', '106', '96', '50']"
                             data-fontweight="700"
                             data-whitespace="[nowrap, nowrap, nowrap, nowrap]"
                             data-transform_idle="o:1;s:500"
                             data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                             data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                             data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                             data-start="1000"
                             data-elementdelay="0.01"
                             style="text-align: center;">浙 江 布 偶 欢 迎 您
                        </div>

                    </li>

                    <!-- SLIDE 2 -->
                    <li data-transition="parallaxhorizontal"
                        data-slotamount="1"
                        data-masterspeed="2000"
                        data-delay="10000"
                        data-title="Awesome Features">

                        <!-- MAIN IMAGE -->
                        <img src="/static/video/video_placeholder.jpg"
                             alt=""
                             data-bgrepeat="no-repeat"
                             data-bgfit="cover"
                             data-bgparallax="7"
                             class="rev-slidebg"
                        >

                        <!-- BACKGROUND VIDEO LAYER -->
                        <div class="rs-background-video-layer"
                             data-forcerewind="on"
                             data-volume="mute"
                             data-videowidth="100%"
                             data-videoheight="100%"
                             data-videomp4="/static/video/video.mp4"
                             data-videowebm="/static/video/video.webm"
                             data-videoogv="/static/video/video.ogv"
                             data-videostartat="00:00"
                             data-videoendat="00:16"
                             data-videocontrols="controls"
                             data-videopreload="preload"
                             data-videoloop="loopandnoslidestop"
                             data-forceCover="1"
                             data-aspectratio="16:9"
                             data-autoplay="true"
                             data-autoplayonlyfirsttime="false"
                             data-nextslideatend="true"
                        ></div>

                        <!-- OVERLAY LAYER -->
                        <div class="tp-caption tp-shape tp-shapewrapper rs-parallaxlevel-0"
                             data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                             data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
                             data-width="full"
                             data-height="full"
                             data-whitespace="nowrap"
                             data-transform_idle="o:1;"
                             data-transform_in="opacity:0;s:1500;e:Power3.easeInOut;"
                             data-transform_out="s:1000;e:Power3.easeInOut;"
                             data-start="750"
                             data-basealign="slide"
                             data-responsive_offset="on"
                             data-responsive="off"
                             style="z-index: 3;background-color:rgba(24, 28, 33, 0.45);">
                        </div>

                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption hero-text alt-font size-70"
                             data-x="center"
                             data-y="center"
                             data-voffset="['-60', '-60', '-60', '-50']"
                             data-fontsize="['120', '100', '70', '50']"
                             data-whitespace="[nowrap, nowrap, nowrap, nowrap]"
                             data-lineheight="['120', '100', '70', '50']"
                             data-transform_idle="o:1;s:500"
                             data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                             data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                             data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                             data-start="1000"
                             data-elementdelay="0.01"
                             style="z-index: 4; text-align: center;"><strong>我 们 创 造 未 来</strong>
                        </div>

                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption medium-text"
                             data-x="center"
                             data-y="center"
                             data-voffset="[25,25,25,18]"
                             data-fontsize="['24', '24', '24', '18']"
                             data-lineheight="['36', '32', '28', '26']"
                             data-whitespace="[nowrap, nowrap, nowrap, normal]"
                             data-width="[none, none, none, 300]"
                             data-transform_idle="o:1;s:500"
                             data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                             data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                             data-start="1200"
                             data-elementdelay="0.01"
                             style="z-index: 4; text-align: center;">为 您 的 生 活 增 添 精 彩
                        </div>

                    </li>

                </ul>

                <div class="local-scroll">
                    <a href="#intro" class="scroll-down">
                        <span></span>
                    </a>
                </div>

            </div>
        </div>
    </section>


    <!-- Intro -->
    <section class="section-wrap intro" id="intro">
        <div class="container">
            <div class="row">

                <div class="col-sm-12 wow slideInUp" data-wow-duration="1.2s" data-wow-delay="0s">
                    <p class="lead-text text-center">
                        本公司在2010年8月10日成立于杭州滨江高新技术开发区东部软件园，历经五年磨砺，于2015年搬迁至拱墅区祥园路99号运河广告大厦2号楼603。壹千万注册资本，是一家有<span>自主开发</span>、运营手机APP应用，网站和微信营销能力的科技型产业服务公司。公司经营范围主要包括：网络信息技术、计算机软硬件、数码产品、网络工程、通信产品的<span>技术开发</span>；计算机系统集成；数码产品、计算机软硬件、通信产品的批发、零售；广告的设计、制作、代理、发布等。
                    </p>
                </div> <!-- end col -->

            </div> <!-- end row -->
        </div> <!-- end container -->
    </section> <!-- end intro -->


    <!-- Portfolio -->
    <section class="section-wrap featured-works bg-dark" id="portfolio">
        <div class="container-fluid nopadding">

            <div class="row heading">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <h2 class="color-white v-line">产品案例</h2>
                    <p class="subheading">Service Projects</p>
                </div>
            </div>

            <div class="works-slider">
                {volist name="$productInfo" id="product"}
                <div class="gallery-cell work-item">
                    <div class="work-container">
                        <div class="work-img">
                            <a href="{:url('product/oneInfo',['id'=>$product.id])}" data-popup-type="iframe">
                                <img src="/static/img/portfolio/1.jpg" alt="">
                                <div class="overlay light">
                                    <div class="work-description">
                                        <h3>{$product.title}</h3>
                                        <!--<span>Photography</span>-->
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div> <!-- end work-item -->
                {/volist}


            </div>	<!-- end slider -->

        </div>
    </section>
    <!-- end featured works -->


    <!-- Services -->
    <section class="section-wrap icon-boxes" id="services">
        <div class="container">
            <div class="row">

                <div class="col-md-4 heading">
                    <h2 class="h-line">服 务 项 目</h2>
                    <p class="subheading">我们试着<br>
                        让简单融入你的生活</p>
                </div>

                <div class="col-md-4">
                    <div class="service-item-box">
                        <a href="JavaScript:;">
                            <i class="pe-7s-copy-file"></i>
                        </a>
                        <h3>网站建设</h3>
                        <p class="mb-0">策划、设计、前端、程序开发全方位一条龙服务充分了解企业文化、行业特点，体现企业特色设计师一对一沟通，充分了解你的需求和想法时刻掌握最新技术动向，打造高品质网站</p>
                    </div>

                    <div class="service-item-box">
                        <a href="JavaScript:;">
                            <i class="pe-7s-phone"></i>
                        </a>
                        <h3>APP 应用</h3>
                        <p class="mb-0">个性设计，独一无二，用设计风格体现企业文化精简代码、追求速度，兼容主流手机浏览器和PC端数据同步，管理方便，全方位网络营销零成本增加微信网站</p>
                    </div>

                    <div class="service-item-box">
                        <a href="JavaScript:;">
                            <i class="pe-7s-cart"></i>
                        </a>
                        <h3>微商城</h3>
                        <p class="mb-0">专业量身定制设计、定制功能、定制后台开发拥有资深开发团队，追求质量同时保证速度追求完美，不断提升系统响应速度和稳定性完善的测试流程，在上线之前解决问题</p>
                    </div>
                </div> <!-- end col -->

                <div class="col-md-4">
                    <div class="service-item-box">
                        <a href="JavaScript:;">
                            <i class="pe-7s-cash"></i>
                        </a>
                        <h3>一卡通管理系统</h3>
                        <p class="mb-0">移动手机一卡通是为移动数字化校园系统建立起专为学校设计的日常信息化管理系统。连接学校的消费、门禁、水控、考勤、通道等系统。并且与图书管理系统接口、机房管理系统接口和综合教务等系统接口等校园专用软件相关联。</p>
                    </div>

                    <div class="service-item-box">
                        <a href="JavaScript:;">
                            <i class="pe-7s-loop"></i>
                        </a>
                        <h3>朋友圈推广</h3>
                        <p class="mb-0">让任意文章都带上你的广告 <br/>让所有员工都在为公司做广告 <br/>让所有广告主都可以共享资源</p>
                    </div>


                </div>

            </div>
        </div>
    </section> <!-- end services -->


    <!-- Service Video -->
    <section class="section-wrap service-video">
        <!--可以放背景+视频-->
        <!--<div class="icon-effect-8">-->
        <!--<a href="https://www.youtube.com/watch?v=Scxs7L0vhZ4?autoplay=1" class="lightbox-video mfp-iframe play-btn hi-icon"></a>-->
        <!--</div>-->
    </section>
    <!-- end service video -->



    <!-- Benefits -->
    <section class="section-wrap benefits">
        <div class="container">

            <div class="row heading mb-20">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <h2 class="v-line">发 展 历 史</h2>
                    <p class="subheading">Development History</p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 benefits-box mt-40">
                    <p class="lead-text">公司自2010年成立以来致力于建设网站，APP定制开发，策划实现智慧园区一卡通项目，运营商通信业务代理，软硬件结合安卓系统手机与PAD定制商务专用机。布偶公司开发实力雄厚，售后维护用心负责，多年来产品畅销省内，远销海外。 2013年底，公司高层决定大胆创新，打入手机O2O市场，现已逐步成型，步入正轨。自2014年底公司增资搬迁至拱墅区之后，半年来主营业务收入逾千万，是一家拥有活力、朝气的创业型公司。公司近年来营业额及利润增长迅速，已经吸引多家风投机构及优秀的天使投资人关注。2015年公司也预期启动新三版挂牌计划帮助引入更多的资金，更好的发展公司。</p>
                </div>
            </div>
            <!-- 第二行（在第一行中需要添加 col-md-4） -->
            <!--<div class="row">-->
            <!--<div class="col-md-4 benefits-box mt-40">-->
            <!--<span>04.</span>-->
            <!--<h3>Result on time</h3>-->
            <!--<p>Cras vel neque eu erat placerat feugiat. Nunc ornare lacus tincidunt velit fermentum, quis tristique libero aliquam.</p>-->
            <!--</div>-->
            <!--</div>-->
            <!-- end 第二行 -->
        </div>
    </section> <!-- end benefits -->

    <!-- Parallax Promo -->
    <section class="section-wrap parallax-promo relative">
        <div class="container">
            <div class="row">
                <h3 class="uppercase color-white wow zoomIn" data-wow-duration="1s" data-wow-delay=".1s">将 您 的 想 法 带 入 生 活</h3>
            </div>
        </div>
        <div class="parallax" data-stellar-background-ratio="0.5"></div>
    </section> <!-- end parallax promo -->

    <!-- From Blog -->
    <section class="section-wrap from-blog" id="blog">
        <div class="container-fluid">

            <div class="row heading">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <h2 class="v-line">公 司 新 闻</h2>
                    <p class="subheading">Updated News</p>
                </div>
            </div>

            <div class="row">
                <div class="blog-slider mb-0">
                    {volist name="$newsInfo" id="news"}
                    <article class="gallery-cell">
                        <div class="entry-img">
                            <a href="{:url('news/detail',['id'=>$news.id])}" class="hover-scale">
                                <img src="/static/img/new/new-{$key+1}.jpg" alt="">
                            </a>
                        </div>
                        <div class="entry">
                            <ul class="entry-meta">
                                <li class="entry-date">
                                    {$news.create_time}
                                </li>
                            </ul>
                            <h4 class="entry-title"><a href="blog-single.html">{$news.title}</a></h4>
                        </div>
                    </article> <!-- end post -->
                    {/volist}

                </div> <!-- end slider -->

                <div class="col-md-12 text-center mt-70">
                    <a href="{:url('news/NewsList')}" class="link-underline inline-block uppercase visit-blog">more</a>
                </div>

            </div>
        </div>
    </section> <!-- end from blog -->


    <!-- Contact Form -->
    <section class="section-wrap contact bg-dark" id="contact">
        <div class="container">

            <div class="row heading">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <h2 class="v-line color-white">联 系 我 们</h2>
                    <p class="subheading">Drop us a line</p>
                </div>
            </div>

            <div class="row">

                <div class="col-md-6 col-md-offset-3">

                    <form id="contact-form" action="#" class="text-center">
                        <div class="input-group">
                            <input name="name" id="name" type="text" placeholder="姓名*" required>
                            <span class="input-bar"></span>
                        </div>
                        <div class="input-group">
                            <input name="mail" id="mail" type="email" placeholder="邮箱*" required>
                            <span class="input-bar"></span>
                        </div>
                        <div class="input-group">
                            <textarea name="comment" id="comment" placeholder="信息" rows="7"></textarea>
                            <span class="input-bar"></span>
                        </div>
                        <input type="submit" class="btn btn-lg btn-light btn-submit mt-20" value="提 交" id="submit-message">
                        <div id="msg" class="message"></div>
                    </form>

                </div>

            </div>
        </div>
    </section> <!-- end contact form -->


    <!-- Contact Details-->
    <section class="section-wrap contact-details bg-light nopadding">
        <div class="container-fluid">
            <div class="row">

                <div class="col-md-4 pt-70 pb-130 equal-height">

                    <div class="contact-item">
                        <div class="contact-icon">
                            <i class="ti-location-pin"></i>
                        </div>
                        <h5>地 址</h5>
                        <address>杭州市拱墅区祥园路99号<br>
                            运河广告产业大厦2号楼603
                        </address>
                    </div> <!-- end address -->

                    <div class="contact-item">
                        <div class="contact-icon">
                            <i class="ti-mobile"></i>
                        </div>
                        <h5>联系我们</h5>
                        <span>0571-87825163</span>
                    </div> <!-- end phone number -->

                    <div class="contact-item">
                        <div class="contact-icon">
                            <i class="ti-email"></i>
                        </div>
                        <h5>Email</h5>
                        <a href="mailto:pulltech@126.com" class="dark-link">pulltech@126.com</a>
                    </div> <!-- end email -->
                </div> <!-- end col -->

                <style type="text/css">
                    .iw_poi_title {color:#CC5522;font-size:14px;font-weight:bold;overflow:hidden;padding-right:13px;white-space:nowrap}
                    .iw_poi_content {font:12px arial,sans-serif;overflow:visible;padding-top:4px;white-space:-moz-pre-wrap;word-wrap:break-word}
                </style>


                <div class="col-md-8 nopadding equal-height">
                    <!-- baidu Map -->
                    <div id="dituContent"></div>
                </div> <!-- end baidu Map -->

            </div>
        </div>
    </section> <!-- end contact details -->

    {include file="public/footer"}


</div> <!-- end main-wrapper -->

<!-- jQuery Scripts -->
<!--<script type="text/javascript" src="js/jquery.min.js"></script>-->
<!--<script type="text/javascript" src="js/bootstrap.min.js"></script> &lt;!&ndash; 框架 &ndash;&gt;-->
<!--<script type="text/javascript" src="js/plugins.js"></script> &lt;!&ndash; 案例展示 &ndash;&gt;-->
<!--&lt;!&ndash; 首页大图 &ndash;&gt;-->
<!--<script type="text/javascript" src="revolution/js/jquery.themepunch.tools.min.js"></script>-->
<!--<script type="text/javascript" src="revolution/js/jquery.themepunch.revolution.min.js"></script>-->
<!--<script type="text/javascript" src="js/rev-slider.js"></script>-->
<!--&lt;!&ndash; end 首页大图 &ndash;&gt;-->
<!--<script type="text/javascript" src="js/scripts.js"></script>-->



<!-- baidu Map api -->
<script type="text/javascript" src="http://api.map.baidu.com/api?key=&v=1.1&services=true"></script>
<!-- end baidu Map api -->

<!-- baidu Map -->
<script type="text/javascript">
    //创建和初始化地图函数：
    function initMap(){
        createMap();//创建地图
        setMapEvent();//设置地图事件
        addMapControl();//向地图添加控件
        addMarker();//向地图中添加marker
    }

    //创建地图函数：
    function createMap(){
        var map = new BMap.Map("dituContent");//在百度地图容器中创建一个地图
        var point = new BMap.Point(120.124597,30.343198);//定义一个中心点坐标
        map.centerAndZoom(point,18);//设定地图的中心点和坐标并将地图显示在地图容器中
        window.map = map;//将map变量存储在全局
    }

    //地图事件设置函数：
    function setMapEvent(){
        map.enableDragging();//启用地图拖拽事件，默认启用(可不写)
        map.enableScrollWheelZoom();//启用地图滚轮放大缩小
        map.disableDoubleClickZoom();//禁用鼠标双击放大
        map.disableKeyboard();//禁用键盘上下左右键移动地图，默认禁用(可不写)
    }

    //地图控件添加函数：
    function addMapControl(){
    }

    //标注点数组
    var markerArr = [{title:"布偶科技",content:"杭州市拱墅区祥园路99号运河广告产业大厦2号楼603",point:"120.124413|30.343377",isOpen:1,icon:{w:21,h:21,l:0,t:0,x:6,lb:5}}
    ];
    //创建marker
    function addMarker(){
        for(var i=0;i<markerArr.length;i++){
            var json = markerArr[i];
            var p0 = json.point.split("|")[0];
            var p1 = json.point.split("|")[1];
            var point = new BMap.Point(p0,p1);
            var iconImg = createIcon(json.icon);
            var marker = new BMap.Marker(point,{icon:iconImg});
            var iw = createInfoWindow(i);
            var label = new BMap.Label(json.title,{"offset":new BMap.Size(json.icon.lb-json.icon.x+10,-20)});
            marker.setLabel(label);
            map.addOverlay(marker);
            label.setStyle({
                borderColor:"#808080",
                color:"#333",
                cursor:"pointer"
            });

            (function(){
                var index = i;
                var _iw = createInfoWindow(i);
                var _marker = marker;
                _marker.addEventListener("click",function(){
                    this.openInfoWindow(_iw);
                });
                _iw.addEventListener("open",function(){
                    _marker.getLabel().hide();
                })
                _iw.addEventListener("close",function(){
                    _marker.getLabel().show();
                })
                label.addEventListener("click",function(){
                    _marker.openInfoWindow(_iw);
                })
                if(!!json.isOpen){
                    label.hide();
                    _marker.openInfoWindow(_iw);
                }
            })()
        }
    }
    //创建InfoWindow
    function createInfoWindow(i){
        var json = markerArr[i];
        var iw = new BMap.InfoWindow("<b class='iw_poi_title' title='" + json.title + "'>" + json.title + "</b><div class='iw_poi_content'>"+json.content+"</div>");
        return iw;
    }
    //创建一个Icon
    function createIcon(json){
        var icon = new BMap.Icon("http://api.map.baidu.com/lbsapi/createmap/images/icon.png", new BMap.Size(json.w,json.h),{imageOffset: new BMap.Size(-json.l,-json.t),infoWindowOffset:new BMap.Size(json.lb+5,1),offset:new BMap.Size(json.x,json.h)})
        return icon;
    }

    initMap();//创建和初始化地图
</script>
<!--end baidu Map -->

</body>
</html>