{layout name="public:layout" /}


<h4 class="text-center text-success">新闻列表</h4>

<table class="table table-default table-hover text-center">
    <tr>
        <td>ID</td>
        <td style="width:250px;">标题</td>
        <td style="width:350px;">内容简介</td>
        <td>状态</td>
        <td>发布时间</td>
        <td colspan="2">操作</td>
    </tr>
    {volist name="newsList" id="news" empty="$empty"}
    <tr id="tr_{$news.id}">
        <td>{$news.id}</td>
        <td>{$news.title}</td>
        <td>{$news.subhead}</td>
        {eq name="$news.status" value="1"}
        <td style="color: forestgreen">显示</td>
        {else /}
        <td style="color: grey">隐藏</td>
        {/eq}
        <td>{$news.create_time}</td>
        <td><a href="{:url('news/newsEdit',['id'=>$news.id])}">编辑</a></td>
        <td><a href="" onclick="dele('{$news.id}');return false;">删除</a></td>
    </tr>
    {/volist}
</table>
<div class="text-center">
    {$newsList|raw}
</div>

<script>
    function dele(id) {
        if (confirm('您是真的要删除吗?')) {
            $.post({
                url: "{:url('news/doDelete')}",
                data: 'id='+id,
                dataType: 'json',
                success: function (data) {
                    if (data.status == 1){
                        $("#tr_"+id).remove();
                    }
                    alert(data.msg);
                }
            })
        }
    }
</script>