<!DOCTYPE html>
<html lang="en">
<head>
    <title>浙江布偶科技股份有限公司</title>

    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="">
    <link rel="author" href="" />
    <!-- Css -->
    <!--<link rel="stylesheet" href="css/bootstrap.min.css" /> &lt;!&ndash;框架&ndash;&gt;-->
    <!--<link rel="stylesheet" href="css/magnific-popup.css" /> &lt;!&ndash;弹窗 插件&ndash;&gt;-->
    <!--<link rel="stylesheet" href="revolution/css/settings.css" /> &lt;!&ndash;革命滑块 插件&ndash;&gt;-->
    <!--<link rel="stylesheet" href="css/rev-slider.css" /> &lt;!&ndash;sliders字体颜色&ndash;&gt;-->
    <!--<link rel="stylesheet" href="css/font-icons.css" /> &lt;!&ndash;图标&ndash;&gt;-->
    <!--<link rel="stylesheet" href="css/sliders.css" /> &lt;!&ndash;sliders插件&ndash;&gt;-->
    <!--<link rel="stylesheet" href="css/style.css" />-->
    <!--<link rel="stylesheet" href="css/responsive.css" /> &lt;!&ndash; 自适应 &ndash;&gt;-->
    <!--<link rel="stylesheet" href="css/spacings.css" /> &lt;!&ndash; 排版 &ndash;&gt;-->
    <!--<link rel="stylesheet" href="css/animate.min.css" />  &lt;!&ndash; 字动画 &ndash;&gt;-->
    {load href="/static/css/bootstrap.min.css" /}
    {load href="/static/css/magnific-popup.css" /}
    {load href="/static/revolution/css/settings.css" /}
    {load href="/static/css/rev-slider.css" /}
    {load href="/static/css/font-icons.css" /}
    {load href="/static/css/sliders.css" /}
    {load href="/static/css/style.css" /}
    {load href="/static/css/responsive.css" /}
    {load href="/static/css/spacings.css" /}
    {load href="/static/css/animate.min.css" /}
    <!-- Favicons -->
    <!--<link rel="shortcut icon" href="img/favicon.ico">-->
    <link rel="shortcut icon" href="/static/favicon.ico">
    <link rel="apple-touch-icon" href="/static/favicon.ico">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/favicon.ico">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/favicon.ico">
</head>

<body data-spy="scroll" data-offset="60" data-target=".nav-wrap" class="onepage padding-box">

<span class="top-space"></span>
<span class="bottom-space"></span>

<!-- Preloader -->
<div class="loader-mask">
    <div class="loader">
        "Loading..."
    </div>
</div>

<header class="nav-type-2 onepage-nav" id="home">
    {include file="public/nav"}
</header>